<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Watch My Desk{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
 </head>
 <body>
  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
 </body>
</html>