{% extends 'base.twig' %}

{% block title %}
    Création d'un espace de travaille coopératif
{% endblock %}

{% block body %}
    Bonjour.
    <br/>
    {{ app.request.host }}
    <br/>
    {{ form_start(formulaire, {'method': 'GET'}) }}
        {{ form_widget(formulaire.dossier) }}
        {{ form_widget(formulaire.creer) }}
    {{ form_end(formulaire, {'render_rest': false}) }}
    <a href='../../'>Retour</a>
{% endblock %}