{% extends 'base.twig' %}

{% block title %}User authentication{% endblock %}

{% block body %}
        <h2 class="text-center">{{ block('title') }}</h2>
        {% if error %}
            <div class="alert alert-danger">
                <strong>Login failed!</strong> {{ error }}
            </div>
        {% endif %}
            <div class="well">
                <form class="form-signin form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Enter your username" required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <input type="password" name="_password" class="form-control" placeholder="Enter your password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                        </div>
                    </div>
                </form>
            </div>
{% endblock %}